<!DOCTYPE html>
<html>
<title>Vedanta Peetam Awards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'progress_rings.css' %}">


<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.img {
      width: 400px;
      height: 300px;
      border:2px solid #fff;
      background: url(img/tiger.png) no-repeat;
      box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
    }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  padding: 10px;

}
.grid-item {
  background-color: #FFFFFF;
  border: 5px outset;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#gems" onclick="w3_close()" class="w3-bar-item w3-button">Gems</a>
  <a href="#gigs" onclick="w3_close()" class="w3-bar-item w3-button">Gigs</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16">Hi {{user.first_name}}, <a href="{% url 'logout' %}">Logout</a></div>
    {% if is_coach %}
    <div class="w3-button w3-padding-16"><button id="myBtn">+ Gem</button></div>
    {% endif %}

  </div>
</div>

{% load static %}
<br>
<br>
<br>
<!-- !PAGE CONTENT! -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.esm.js"></script>


<link rel="stylesheet" href="{% static 'carousal/demo.css' %}">
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">



<div class="ring_row">

    {% for score in scores %}
  <div class="ring_column">
    <div class="ring_card">
      <h3>{{score.label}}</h3>
        <sl-progress-ring percentage="{{score.score}}" size="200" stroke-width="10" class="progress-ring-labels" style="--track-color: {{score.color}}; --indicator-color: {{score.color}}; margin-bottom: .5rem;" ><h1>{{score.score}}</h1></sl-progress-ring>
    </div>
  </div>
    {% endfor %}


<!--<div id="owl-demo">-->
<!--    {% static 'mainapp' as base_url %}-->
<!--{% for metric, value in stats.items %}-->
<!--  <div class="item"><img src="{{base_url}}/{{metric}}.png"  alt="Owl Image"></div>-->
<!--  {% endfor %}-->
<!--</div>-->
      {% if is_coach %}
  <h2>Rewards for <b><i>{{selected}}</i></b></h2>
<!--<form>-->
<!--  <label>Student</label>-->
<!--  <select name="student" onchange="location=this.options[this.selectedIndex].value">-->
<!--    {% for student in students %}-->
<!--      {% if student.student == selected %}-->
<!--    <option value='/rewards/{{student.student}}' selected>{{student.student}}</option>-->
<!--       {% else %}-->
<!--    <option value='/rewards/{{student.student}}' >{{student.student}}</option>-->
<!--       {% endif %}-->
<!--    {% endfor %}-->

<!--  </select>-->
<!--  <br><br>-->
<!--</form>-->
  {% endif %}
  <br>
  <h2 class="w3-bar w3-black">&nbsp Summary</h2>
<div class="grid-container">
    {% static 'mainapp' as base_url %}
    {% for metric, value in stats.items %}
        {% if filter_set == True %}
           {% if value != 0 %}
              <a href="/rewards/filter/{{metric}}" ><div class="grid-item"><img src="{{base_url}}/{{metric}}.png" width="150", height="150" alt="{{metric}}"> <p>{{value}}</p>  </div></a>
            {% endif %}
        {% else %}
            <a href="/rewards/filter/{{metric}}" ><div class="grid-item"><img src="{{base_url}}/{{metric}}.png" width="150", height="150" alt="{{metric}}"> <p>{{value}}</p>  </div></a>
        {% endif %}
     {% endfor %}

  {% if filter_set %}
  "
  <a href="/rewards/" ><div class="grid-item">Show all </div></a>
  {% endif %}
</div>
{% static 'mainapp' as base_url %}
  <h2 id="gems" background-color="#f1f1f1" class="w3-bar w3-black">&nbsp Gems</h2>
  {% for stroke in strokes %}
     {% if forloop.first %}
        <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">

     {% endif %}
    <div class="w3-quarter">
      <h2>{{stroke.stroke|lower|capfirst}}</h2>
      <img class="img" src="{{base_url}}/{{stroke.stroke}}.png" alt="Sandwich" style="width:100%">
      <h2  style="margin: 0">{{stroke.category}}</h2>
      <h3 style="margin: 0">{{stroke.action}}</h3>
      <p  style="margin: 0">{{stroke.comments}}</p>
    </div>

    {% if forloop.last %}
        </div>
    {% elif forloop.counter|divisibleby:4 %}
      </div>
      <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    {% endif %}
  {% endfor %}

<br>
          <h2 id="gems" background-color="#f1f1f1" class="w3-bar w3-black">&nbsp My Collectibles</h2>
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link rel="stylesheet" href="{% static 'rewards/gifts.css' %}" >
         <div class="container">
                <div class="at-section">
                <div class="at-section__title">{{key}}</div>
                </div>
            <div class="at-grid" data-column="3">
                {% for gift in gifts %}
                <div class="at-column">
                    <div class="at-user">
                        <h1 class="w3-badge w3-large w3-padding w3-green" style="float: left;">{{gift.gift.cost}}</h1>
                        <div class="at-user__avatar"><img src="{{gift.gift.uri}}"/></div>
                            <div class="at-user__name">{{gift.gift.name}}</div>
                            <div class="at-user__title">{{gift.gift.collection}}</div>
<!--                            <h10>{{gift.gift.attrib | safe }}</h10>-->
                    </div>
                </div>
                {% endfor %}
                <div class="at-column">
                    <div class="at-user">
                        <form action="/rewards/pick_gift/" method="POST">
                            {% csrf_token %}
                        <div class="at-user__avatar"></div>

                            <div class="at-user__name">Checkout</div>
                            <div class="at-user__title">Collectibles</div>
<!--                            <h10>{{gift.gift.attrib | safe }}</h10>-->
                        <button class="w3-button w3-green">Browse</button>
                        </form>
                    </div>
                </div>
            </div>
         </div>
<!--  {% for gift in gifts %}-->
<!--     {% if forloop.first %}-->
<!--        &lt;!&ndash; First Photo Grid&ndash;&gt;-->
<!--  <div class="w3-row-padding w3-padding-16 w3-center" id="food">-->
<!--     {% endif %}-->
<!--    <div class="w3-quarter">-->
<!--        {% if gift.gift is not None %}-->
<!--        <div class="card">-->
<!--      <img class="img" src="{{gift.gift.uri}}" alt="Gift" style="width:250px;height=250px">-->
<!--        <br>-->
<!--            <a href="{{gift.gift.ref}}" ><h5>{{gift.gift.name}}</h5></a>-->

<!--        </div>-->
<!--        {% endif %}-->
<!--        &lt;!&ndash;      <h2  style="margin: 0">{{stroke.category}}</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <h3 style="margin: 0">{{stroke.action}}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;      <p  style="margin: 0">{{stroke.comments}}</p>&ndash;&gt;-->
<!--    </div>-->
<!--    {% if forloop.last %}-->
<!--        </div>-->
<!--    {% elif forloop.counter|divisibleby:4 %}-->
<!--      </div>-->
<!--      <div class="w3-row-padding w3-padding-16 w3-center" id="food">-->
<!--    {% endif %}-->
<!--  {% endfor %}-->
<!--          <a href="/rewards/pick_gift/"><img class="img"  style="width:250px;height=250px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Question_opening-closing.svg/1920px-Question_opening-closing.svg.png"></a>-->


<br>

<!--  &lt;!&ndash; Pagination &ndash;&gt;-->
<!--  <div class="w3-center w3-padding-32">-->
<!--    <div class="w3-bar">-->
<!--      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>-->
<!--      <a href="#" class="w3-bar-item w3-black w3-button">1</a>-->
<!--      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>-->
<!--      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>-->
<!--      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>-->
<!--      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>-->
<!--    </div>-->
<!--  </div>-->

        <h2 id="gigs" background-color="#f1f1f1" class="w3-bar w3-black">&nbsp Gigs</h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for topics.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:10%;">Gig</th>
    <th style="width:10%;">Challenge</th>
    <th style="width:5%;">Gem</th>
    <th style="width:15%;">Date</th>
    <th style="width:20%;">Giver</th>
    <th style="width:40%;">Comments</th>
  </tr>
  {% for stroke in strokes %}
  <tr>
    <td>{{stroke.category}}</td>
    <td>{{stroke.action}}</td>
    <td><img src="{{base_url}}/{{stroke.stroke}}.png" height="50" width="50" ></td>
    <td>{{stroke.date}}</td>
    <td>{{stroke.stroker_fname}}</td>
    <td>{{stroke.comments}}</td>
  </tr>
  {% endfor %}
</table>

  <hr id="about">
    <h2 background-color="#f1f1f1" class="w3-bar w3-black">Class Lessons</h2>
         <table id="lessons" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr class="header">
        <b>
              <th style="width:10%;">Course name</th>
              <th style="width:10%;">Module</th>
              <th style="width:10%;">Lesson</th>
              <th style="width:5%;">Status</th>
              <th style="width:10%;">Date</th>
              <th style="width:30%;">Resource</th>
          {% if is_coach %}
              <th style="width:20;">Action</th>
          {% endif %}
          </b>
            </tr>
      {% for lesson in lessons %}
      <tr>
        <td>{{lesson.course}}</td>
        <td>{{lesson.module}}</td>
        <td>{{lesson.lesson}}</td>
        <td>{{lesson.status}}</td>
        <td>{{lesson.date}}</td>
        {% if lesson.resource != 'NA' %}
          <td><a href="{{lesson.resource}}">Watch on YouTube  <i class="fa fa-youtube-play" style="color:red"></i>  </a></td>
          {% else %}
          <td></td>
        {% endif %}
        {% if is_coach %}
             {% if lesson.stroke == None %}
                  {% for metric, value in stats.items %}
                <td>
                    <a href="/rewards/give_stroke/{{selected}}/{{lesson.id}}/{{metric}}/"><img width="25" height="25" src="{{base_url}}/{{metric}}.png"></a>
                </td>
                  {% endfor %}
              {% else %}
                 <td>{{lesson.stroke}}</td>
              {% endif %}
        {% endif %}

      </tr>
      {% endfor %}
    </table><br>

          <h2 id="members" background-color="#f1f1f1" class="w3-bar w3-black">&nbsp Members</h2>
           <section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class='demo-container'>
                  <div class='carousel'>
                    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
                        👉
                      </label>
                    </div>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
                        👈
                      </label>
                      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
                        👉
                      </label>
                    </div>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
                        👈
                      </label>
                    </div>
                    <div class='carousel__screen'>
                      <div class='carousel__track'>
                          {% for topper in toppers %}
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                            <div class="c-card">
                              <img src="{% static 'mainapp/nophoto.png' %}"   alt="{{topper.Member}}" style="width:100%">
                              <h2>{{ topper.fname }}</h2>
<!--                              <p class="c-title">Level X</p>-->
                              <h3>All time Score</h3>
                                <h4>{{ topper.score }}</h4>
<!--                                <form action="/main/members/{{ topper.username }}">-->
<!--                                  <p><button>View</button></p>-->
<!--                                </form>-->
                            </div>
                        </div>
                           {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
		</div>
    </div>
</section>
<!-- End page content -->
</div>


<!-- form content -->

<div class="formcontent" >
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/rewards/add/{{selected}}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Stroke">
    </form>
  </div>
</div>
</div>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>

<script src="https://use.fontawesome.com/7980032ffc.js"></script>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }

    }
  }
}
</script>
</body>
</html>
