<!DOCTYPE html>
<html>
<title>Ramayana Summer Camp</title>
<meta charset="UTF-8">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link rel="stylesheet" href="{% static 'mainapp/ramayana/testimonials.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/ramayana/faq.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lato|Patua+One&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'>
      <link rel="stylesheet" href="{% static 'mainapp/ramayana/style.css' %}">

<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/ram_mandir.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

</style>
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

</style>
<body>


<div class="w3-top">
  <div class="w3-row w3-black">
    <div class="w3-col s3">
      <a href="/ramayana/confirm" class="w3-button w3-block w3-black"><i class="fa fa-institution" color="white"> </i>Home</a>
    </div>

      <div class="w3-col s3">
      <a href="/ramayana/confirm#Testimonials" class="w3-button w3-block w3-black">Testimonials</a>
    </div>
      <div class="w3-col s3">
      <a href="/ramayana/confirm#FAQ" class="w3-button w3-block w3-black">FAQ</a>
    </div>
      <div class="w3-col s3">
      <a href="/ramayana/confirm#Contact" class="w3-button w3-block w3-black">Contact</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="w3-display-container w3-grayscale-min" id="home">


</header>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container" style="margin-top:5%;">
	<div class="row">
        <div class="jumbotron" style="box-shadow: 2px 2px 4px #000000;">
            <h2 class="text-center">Your message is sent.</h2>
          <h3 class="text-center">You will hear back from us in less than 24 hours</h3>
          <center><div class="btn-group" style="margin-top:50px;">
                <a href="/ramayana/confirm" class="btn btn-lg btn-warning">Back to home</a>
            </div></center>
        </div>
	</div>
</div>

</body>
</html>