<!DOCTYPE html>
<html>
<title>Ramayana Summer Camp</title>
<meta charset="UTF-8">

<!-- Facebook Pixel Code -->
<script>

!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '335636924252935');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=335636924252935&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link rel="stylesheet" href="{% static 'mainapp/ramayana/testimonials.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/ramayana/faq.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lato|Patua+One&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'>
      <link rel="stylesheet" href="{% static 'mainapp/ramayana/style.css' %}">
      <link rel="stylesheet" href="{% static 'mainapp/ramayana/cards.css' %}">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background-color: #fdf1ec;
}



.menu {
  display: none;
}

</style>
<style>


* {
  box-sizing: border-box;
}

</style>
<body>


<div class="w3-top">
  <div class="w3-row w3-black">
    <div class="w3-col s3">
      <a href="#top" class="w3-button w3-block w3-black"><i class="fa fa-institution" color="white"> </i>Home</a>
    </div>

      <div class="w3-col s3">
      <a href="#Testimonials" class="w3-button w3-block w3-black">Testimonials</a>
    </div>
      <div class="w3-col s3">
      <a href="#FAQ" class="w3-button w3-block w3-black">FAQ</a>
    </div>
      <div class="w3-col s3">
      <a href="#Contact" class="w3-button w3-block w3-black">Contact</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="w3-display-container w3-grayscale-min" id="home">



</header>

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#payment {
  display: block;
}


</style>
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


main {display: flex;}
main > * {border: 1px solid;}
table {border-collapse: collapse; font-family: helvetica}
td, th {border:  1px solid;
      padding: 10px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}
.table-container {
  position: relative;
  max-height:  500px;
  width: 700px;

}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky;
  background: hsl(180, 50%, 70%);
  left: 0;
}
/* don't do this */
tr > :first-child {
  box-shadow: inset 0px 1px black;
}
</style>
<script>
        $(document).ready(function () {
 $('.testiSlide').slick({
 slidesToShow: 2,
 slidesToScroll: 1,
 autoplay: true,
 autoplaySpeed: 4000,
 responsive: [{
 breakpoint: 850,
 settings: {
 slidesToShow: 1,
 slidesToScroll: 1,
 infinite: true,
 }
 }]
 });
});
    </script>
<!-- Add a background color and large text to the whole page -->
<div class="w3-white w3-large">

<!-- About Container -->
{% load static %}

<div class="w3-container" id="about">
    <br><br>
  <div class="w3-content" style="max-width:2000px">
        <br>
<!--    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Ramayana Summer Camp</span></h5>-->
        <img src="{% static 'mainapp/ramayana/ramayana-banner.png' %}" class="center">
  </div>
<!-- Flyer banner -->
  <div class="w3-content">
<!--    <form method="get" target='_blank' action="{% static 'mainapp/ramayana/Ramayana_Flyer.pdf' %}">-->
<!--       -->
<!--    <button style="float: right;color: #0d1f43; background-color:#e1bd75;"><i class="fa fa-download">&nbsp;Download flyer</i></button>-->
<!--    </form>-->
  </div>

  <!-- Register button -->
<div class="w3-content" style="max-width:1100px">
<!--    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Register</span></h5>-->
<!--  <div class="row">-->
<!--  <div class="col-75">-->
<!--    <div class="container">-->
<!--      <form action="/ramayana/confirm" method="POST">-->
<!--      {% csrf_token %}-->
<!--        <div class="row">-->
<!--          <div class="col-50">-->
<!--            <label for="child"><i class="fa fa-user"></i>Child's Full Name</label>-->
<!--            <input type="text" id="child" name="child" placeholder="John M. Doe" required>-->
<!--            <label for="name"><i class="fa fa-user"></i>Your Full Name</label>-->
<!--            <input type="text" id="name" name="name" placeholder="John M. Doe" required>-->
<!--            <label for="grade"><i class="fa fa-user"></i>Child's grade</label>-->
<!--            <input type="text" id="grade" name="grade" placeholder="4th" required>-->
<!--            <label for="email"><i class="fa fa-envelope"></i>Email</label>-->
<!--            <input type="text" id="email" name="email" placeholder="john@example.com" required>-->
<!--            <label for="city"><i class="fa fa-institution"></i> City</label>-->
<!--            <input type="text" id="city" name="city" placeholder="New York" required>-->
<!--            <div class="flex-container">-->
<!--              <div>-->
<!--            <label for="cars">1st preference</label>-->
<!--              <select name="pref_1" required>-->
<!--                <optgroup label="June">-->
<!--                  <option value="June">14th - 24th June</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="July">-->
<!--                  <option value="July">19th - 29th July</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="August">-->
<!--                  <option value="August">3rd - 13th August</option>-->
<!--                </optgroup>-->
<!--              </select>-->
<!--              </div>-->
<!--              <div>-->
<!--            <label for="cars">2nd preference</label>-->
<!--              <select name="pref_2" required>-->
<!--                <optgroup label="June">-->
<!--                  <option value="June" >14th - 24th June</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="July">-->
<!--                  <option value="July" selected="selected">19th - 29th July</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="August">-->
<!--                  <option value="August">3rd - 13th August</option>-->
<!--                </optgroup>-->
<!--              </select>-->
<!--              </div>-->
<!--              <div>-->
<!--            <label for="cars">3rd preference</label>-->
<!--              <select name="pref_3" id="cars" required>-->
<!--                <optgroup label="June">-->
<!--                  <option value="June">14th - 24th June</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="July">-->
<!--                  <option value="July">19th - 29th July</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="August">-->
<!--                  <option value="August" selected="selected">3rd - 13th August</option>-->
<!--                </optgroup>-->
<!--              </select>-->
<!--              </div>-->
<!--            </div>-->
<!--            <input type="submit" value="Continue to payment" class="btn">-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
</div>
<br>
  <br>
  <div class="w3-content" >
    <div class="flex-container">
    <div class="product-card">
	<a href="www.google.com" >
  <img src="{% static 'mainapp/ramayana/lordrama.jpeg' %}" alt="Denim Jeans" style="width:100%;height: 400px;">
  </a>
  <h3>Ramayana Summer Camp</h3>
      <h5>June 13th - 23rd</h5>
  <p class="product-price">$99.00</p>
<!--  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>-->
  <div class="flex-container" style="margin-bottom: 0px">
        <div style="width: 50%">
          <form action="/ramayana/buy1" method="POST">
              {% csrf_token %}
                <input type="hidden" name="pref" value="June 13th - 23rd">
          <p><button style="background-color: green">Buy Now</button></p>
                </form>
        </div>
        <div style="width: 50%">
          <form method="get" target='_blank' action="{% static 'mainapp/ramayana/Ramayana_Flyer.pdf' %}">
            {% csrf_token %}
        <p><button>View Details</button></p>
          </form>
        </div>
      </div>

</div>
      <div class="product-card">
	<a href="www.google.com" >
  <img src="{% static 'mainapp/ramayana/ramasita.jpeg' %}" alt="Denim Jeans" style="width:100%;height: 400px;">
  </a>
  <h3>Ramayana Summer Camp</h3>
      <h5>July 19th - 29th</h5>
  <p class="product-price">$99.00</p>
<!--  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>-->
  <div class="flex-container">
        <div style="width: 50%">
            <form action="/ramayana/buy1" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pref" value="July 19th - 29th">
          <p><button style="background-color: green">Buy Now</button></p>
                </form>
        </div>
        <div style="width: 50%">
        <form method="get" target='_blank' action="{% static 'mainapp/ramayana/Ramayana_Flyer.pdf' %}">
                {% csrf_token %}
                <p><button>View Details</button></p>
            </form>
        </div>
      </div>

</div>
      <div class="product-card">
	<a href="www.google.com" >
  <img src="{% static 'mainapp/ramayana/rama-and-sita.jpeg' %}" alt="Denim Jeans" style="width:100%;height: 400px">
  </a>
  <h3>Ramayana Summer Camp</h3>
      <h5>August 03rd - 13th</h5>
  <p class="product-price">$99.00</p>
<!--  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>-->
  <div class="flex-container">
        <div style="width: 50%">
          <form action="/ramayana/buy1" method="POST">
              {% csrf_token %}
                <input type="hidden" name="pref" value="August 03rd - 13th">
          <p><button style="background-color: green">Buy Now</button></p>
                </form>
        </div>
        <div style="width: 50%">
            <form method="get" target='_blank' action="{% static 'mainapp/ramayana/Ramayana_Flyer.pdf' %}">
                {% csrf_token %}
                <p><button>View Details</button></p>
            </form>
        </div>
      </div>

</div>


<!--    <div class="product-card">-->
<!--	<a href="www.google.com" >-->
<!--  <img src="{% static 'mainapp/ramayana/lordrama.jpeg' %}" alt="Denim Jeans" style="width:100%">-->
<!--  </a>-->
<!--  <h1>Tailored Jeans</h1>-->
<!--  <p class="product-price">$99.00</p>-->
<!--  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>-->
<!--  <p><button >Add to Cart</button></p>-->
<!--  <p><button style="margin-top: 2px">View Details</button></p>-->
<!--</div>-->
    </div>
</div>
</div>

  <div id="Testimonials" class="w3-content" >
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Parent Testimonials</span></h5>
      {% for t in testimonials %}
          <div style="margin: 16px 0;padding: 16px;background-color: #e5ffe5;border: 2px solid #ccc;border-radius: 15px;" >
          <p class="comment">{{t.comment}}</p>
          <p><span>-- {{t.name}}</span> </p>
          </div>
    {% endfor %}
  </div>
    <div id="FAQ" class="w3-content" style="max-width:1000px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Frequently Asked Questions</span></h5>
      <button class="accordion">Where can I download Camp flyer?</button>
<div class="panel">
  <p>Download from below</p>
  <form method="get" target='_blank' action="{% static 'mainapp/ramayana/Ramayana_Flyer.pdf' %}">
      {% csrf_token %}
    <button style="float: right;color: #0d1f43; background-color:#e1bd75;"><i class="fa fa-download">&nbsp;Download flyer</i></button>
    </form>
</div>


<button class="accordion">Why is it a 9-day camp?</button>
<div class="panel">
  <p>It is a tradition that Ramayana should be recited or listened to for 9 days.</p>
</div>

<button class="accordion">Why should we pay fees to learn Ramayana?</button>
<div class="panel">
  <p>From student's perspective, it is a customary practice to give guru dhakshina and learn so that the knowledge acquired stays in tact.
  <br><br>Moreover, Vedanta Peetam donates a portion of the fees to poor and needy.</p>
</div>

<button class="accordion">What happens after I register and paid?</button>
<div class="panel">
  <p>One of our staff members will contact you with further instructions within a day of your registration</p>
</div>
<button class="accordion">What is the refund policy?</button>
<div class="panel">
  <p>Your payment is 100% refundable until 3 days(72 hours) before the camp.  However there is no refund after that.</p>
</div>
<button class="accordion">What if I have more than one child?</button>
<div class="panel">
  <p>Each child needs to be registered separately.</p>
</div>
<button class="accordion">What is waiting list and how long it takes for the me to get a confirmation?</button>
<div class="panel">
  <p>When there are more people already registered for a batch, you might be placed in Waiting list until when some slot is available or when a new batch is started.
  <br>It is highly difficult to say how long it will take to get a confirmed seat if you are placed in Waiting list.
  However, our staff members will keep you posted.  No payment will be accepted from you when you are in waitlisted.</p>
</div>
      <button class="accordion">What will my child actually do during the camp?</button>
<div class="panel">
  <p>Your child, along with other children, will be listening to Ramayana story primarily,
    while Parthaji narrates it everyday.  You can motivate your child to write down what
    key points as they listen.  After the session, you can discuss with your child on the
    plot of the story.


   </p>
</div>

      <button class="accordion">How will listening to Ramayana help my child ?</button>
<div class="panel">
  <p>Ramayana teaches a lot or morals and values to children through several twists and turns
    in a story form.  Your child is riveted to the flow of the story while also
    picking up some good morals on the way.
</div>
      <button class="accordion">Will my child be taught Slokas and bhajans?</button>
<div class="panel">
  <p>No. As part of Summer camp there will not be any teaching of sloka or bhajans. Ramayana story listening is the primary activity for your child in the Summer camp.
  Slokas and bhajans will be recited / sung by Parthaji in the beginning or end of each
  day's session.  You will be given script and audio downloads that you can let your child
  listen to outside the camp.
  <br>
  However, slokas are taught separately throughout the year.  Please visit http://www.vedantapeetam.org
  for more details.
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

    </div>

  <div id="SCHEDULE" class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Summer Camp Batches</span></h5>
    <div class="table-container">

  <div class="table-horizontal-container">

    <table class="unfixed-table">
      <thead>
        <tr><th>Batch Name</th><th>Month</th><th>Tentative dates</th></tr>
      </thead>
      <tbody>
        <tr><th>Chitrakoot</th><td>June</td><td>14th - 24th of June<br>10.30AM - 11.30AM PST</td></tr>
        <tr><th>Panchavati</th><td>July</td><td>19th - 29th of July<br>10.30AM - 11.30AM PST</td></tr>
        <tr><th>Kishkinda</th><td>August</td><td>03rd - 13th of August<br>10.30AM - 11.30AM PST</td></tr>
      </tbody>
    </table>
  </div>
</div>
</object>
</article>
  </div>
    <div id="Contact" class="w3-content" style="max-width:1000px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">About us</span></h5>
      <div>

		<p>Vedanta Peetam was established in 2007 by Sri Parthaji to teach Sanskrit slokas to children in the Sunnyvale neighborhood in California, US.  Since then it has grown into an institution teaching not just slokas but imparting ancient wisdom through stories and discourses.  Tens of hundreds of students have benefited in the last few years through passionate and dedicated classes conducted on a weekly basis at the Vedanta Peetam residence in Sunnyvale. Since the introduction of online classes in April 2020, students from across the US are taking advantage of the weekly classes through Vedanta Peetam’s distance learning system.
<br><p>
At Vedanta Peetam, we believe ancient moral stories can positively influence a child’s mental and spiritual development.  Stories filled with fun and wisdom are an integral part of every class.  Our experience tells us that children look forward more enthusiastically to sloka classes to listen in to a couple stories every week.
<br><p>
To quench the spiritual thirst of adults, Vedanta Peetam introduced knowledge sessions(Gnaana sessions) from April 2020 over zoom.  Ancient wisdom provided by hindu epics and scriptures is taught using an easy and simple-to-understand language and vocabulary so that everyone can appreciate and apply the principles contained therein.
<br><p>
Vedanta Peetam also organizes Yoga Meditation classes called Dhyana Yoga through distance learning.  Dhyana yoga follows Patanjali’s Ashtanga Yoga that includes an 8-fold approach to Yoga.  Participants are given step-by-step instructions with periodic review and feedback sessions.
</p><br>
    </div>
    </div>

  <div class="w3-content" style="max-width:1000px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Contact</span></h5>
    <div class="w3-content" style="max-width:1000px">
        <div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/ramayana/send_message" method="POST">
      {% csrf_token %}
        <div class="row">
          <div class="col-50">
            <label for="name2"><i class="fa fa-user"></i>Your Full Name</label>
            <input type="text" id="name2" required name="name" placeholder="John M. Doe">
            <label for="email2"><i class="fa fa-envelope"></i>Email</label>
            <input type="text" id="email2" required name="email" placeholder="john@example.com">
            <label for="message"><i class="fa fa-institution"></i> Message</label>
            <textarea  id="message" name="message" rows=5 placeholder="Write something here..."></textarea>
            <input type="submit" value="Send" class="btn">
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>

</div>
  </div>

</div>
</div>

<script>
  <script>
  $(document).ready(function() {
      $('.patient-quote').flexslider();
    });
</script>
</body>

</html>
