<!DOCTYPE html>
<html>
<title>Ramayana Summer camp</title>
<meta property="og:title" content="Ramayana Summer Camp for kids" />
<meta property="og:description" content="10-day Summer camp on Ramayana for kids 6+ years" />
<meta property="og:url" content="http://www.vedantapeetam.org/ramayana" />
<meta property="og:image" content="http://www.vedantapeetam.org/static/mainapp/ramar-lanka.gif" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>

{% load static %}
<head>
<meta property="og:title" content="Ramayana Summer Camp for kids" />
<meta property="og:description" content="10-day Summer camp on Ramayana for kids 6+ years" />
<meta property="og:url" content="http://www.vedantapeetam.org/ramayana" />
<meta property="og:image" content="http://www.vedantapeetam.org/static/mainapp/ramar-lanka.gif" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<!-- Facebook Pixel Code -->
<script>

!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '335636924252935');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=335636924252935&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Kids Summer Camp Ramayana</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Details</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->

<header class="w3-display-container w3-centered" style="max-width:900px;min-width:500px" id="home">
<!--  <center><img class="w3-image w3-centered" src="{% static 'mainapp/ramar-lanka.gif' %}" alt="Vedanta Peetam" width="900" height="800"></center>-->
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Ramayana</h1>
  </div>
</header>

{% if registered %}
   <p><p><p><br> <h1>Congratulations! your spot is reserved.  We will contact you.
  <a href="http://www.vedantapeetam.org/#testimonials">Meanwhile checkout parent testimonials here</a></h1></p>
{% endif %}
<!-- Page content -->

<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'mainapp/ramayana/sita-rama.jpeg' %}" alt="Los Angeles" style="width:100%;">
      </div>
      <div class="item">
        <img src="{% static 'mainapp/ramayana/rama-guha.gif' %}" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="{% static 'mainapp/ramayana/vali-sugriva-rama.jpeg' %}" alt="Chicago" style="width:100%;height:256">
      </div>

      <div class="item">
        <img src="{% static 'mainapp/ramayana/hanuman-sita.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
    <div class="item">
        <img src="{% static 'mainapp/ramayana/hanuman-flying.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
      <div class="item">
        <img src="{% static 'mainapp/ramayana/ramar-lanka.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
      <div class="item">
        <img src="{% static 'mainapp/ramayana/monkey-army.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
      <div class="item">
        <img src="{% static 'mainapp/ramayana/Ram-Vs-Ravana.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
      <div class="item">
        <img src="{% static 'mainapp/ramayana/pattabhisheka.jpeg' %}" alt="New york" style="width:100%;height:256">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">

     <img src="{% static 'mainapp/Jaisriram.jpeg' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Ramayana Kids Story Camp 2021</h1><br>
      <h2 class="w3-center">How it benefits my child?</h2>
      <br>
        <p class="w3-large">
            <ul>
        <li class="w3-large">listening skills improve when they follow a story through narration</li>
        <li class="w3-large">attention span and focus increases when they listen to stories. </li>
        <li class="w3-large">imaginative skills develop when they tread along several turning points in the story as they visualize the
            scenes and try to picturize the words they hear</li>
        <li class="w3-large">devotion towards God can easily be planted in young minds through stories.
      </ul>
      <p class="w3-large">
        Valmiki's Ramayana is one the greatest epics of all time teaching morals and values to humanity. Rama, the hero of Ramayana,  the incarnation of Vishnu, had shown how to live a quality life practicing dharmic principles while being brave and smart.
        There can be no other better resource to teach behavior and conduct to children than through the story of Ramayana as shown by Rama and Sita.
<!--        <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>-->
<!--      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Virtual online Camp Details</h1><br>
      <h4>How long is the virtual camp?</h4>
      <p class="w3-text-grey">2 Week 10-day camp, Monday to Friday total immersion for two weeks</p><br>
      <h4>What is the Duration?</h4>
      <p class="w3-text-grey">30-minute "Katha"(Story) session each day</p><br>
      <h4>When is this starting?</h4>
      <p class="w3-text-grey">This Summer: Choose from May,June,July or August batches</p><br>
      <h4>What is the mode of virtual camp?</h4>
      <p class="w3-text-grey">Virtual Camp will be online through zoom</p><br>
      <h4>Fees</h4>
      <p class="w3-text-grey">$99 (includes 300 minutes of morals, 30 minutes/day for 10 days)</p><br>
    </div>
    <div class="w3-col l6 w3-padding-large">
      <img src="{% static 'mainapp/ramayan-camp.png' %}" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Save a spot Now, and pay later!</h1><br>
    <p>You will be contacted with more details in the upcoming weeks</p>
    <p class="w3-text-blue-grey w3-large"><b>You can also send a Whatsapp Message to +1-408-469-6204</b></p>
    <form action="ramayana/register" method='POST'>
      {% csrf_token %}
      <p><input class="w3-input w3-padding-16" type="text" name="name" placeholder="Name" required ></p>
      <p><input class="w3-input w3-padding-16" type="text" name="phone" placeholder="Phone" required ></p>
      <p><input class="w3-input w3-padding-16" type="text" name="email" placeholder="Email" required></p>
      <label class="w3-input w3-padding-16">Choose a batch:</label>
      <select name="batch" class="w3-input w3-padding-16" required id="batch">
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
      </select>
      <label class="w3-input w3-padding-16">Choose a Timeslot:</label>
      <select name="timeslot" class="w3-input w3-padding-16" required id="time">
        <option value="10AM">10:00AM - 10:30AM PST</option>
        <option value="02PM">02:00PM - 02:30PM PST</option>
        <option value="04PM">04:00PM - 04:30PM PST</option>
        <option value="08PM">08:00PM - 08:30PM PST</option>
      </select>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">Save my spot, I ll pay later</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p><a href="http://www.vedantapeetam.org" title="Vedanta Peetam" target="_blank" class="w3-hover-text-green">Vedanta Peetam</a></p>
</footer>

</body>
</html>
